<%inherit file="/homepage/templates/base.htm" />

<%block name="content">

    <div class="content">
        <div class="col-md-8 col-md-offset-2">
            <form method="POST">
            %for field in form:
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                    ${field.errors}
                </div>
                %if field.label=="First Name":
                    <h2>Shipping Address</h2>
                %elif field.label=="Credit Card":
                    <h2>Payment Information</h2>
                %endif
                <div class="form-group">
                    <label for=${field.name} class="col-sm-3">${field.label}</label>
                    <div class="col-sm-9" style="margin-bottom: 15px;">
                        ${field}
                    </div>
                </div>
            %endfor
                <h1>REST API Example</h1>
                <pre>
                Endpoint: http://dithers.cs.byu.edu/iscore/api/v1/charges
                Valid credit card: Visa, 4732817300654, Exp. 10/15, CVC 411, Cardholder Name: Cosmo Limesandal
                Sample Charge Creation:
                curl http://dithers.cs.byu.edu/iscore/api/v1/charges \
                -d apiKey=YOUR_API_KEY \
                -d currency=usd \
                -d amount=5.99 \
                -d type=Visa \
                -d number=4732817300654 \
                -d exp_month=10 \
                -d exp_year=15 \
                -d cvc=411 \
                -d "name=Cosmo Limesandal" \
                -d "description=Charge for cosmo@is411.byu.edu"
                Query Charges:
                curl --get http://dithers.cs.byu.edu/iscore/api/v1/charges \
                -d apiKey=YOUR_API_KEY
                </pre>
                <button type="button" class="btn btn-primary" id="charge">Charge</button>
                <button type="button" class="btn btn-success" id="queryCharges">Query Charges</button>
                <input type="text" id="chargeId">
                <br />
                <div id="message"></div>
                <script>
                    $(function(){
                        $.ajax({
                            url: 'http://dithers.cs.byu.edu/iscore/api/v1/charges',
                            type: 'post',
                            // Object with data fields this request needs
                            data: {
                                // API key is needed for all REST requests to our endpoint
                                apiKey: 'bd4c3e68deac00a9d76b8646e02eb328',
                                // Currency must be US dollars
                                currency: 'usd',
                                // Amount to the exact penny
                                amount: '5.99',
                                // Credit card type (Visa, MasterCard, AmEx, etc.)
                                type: 'Visa',
                                // Credit card number (should have already passed Luhn test)
                                number: '4732817300654',
                                // Two-digit expiration month, left padded with 0 if needed
                                exp_month: '10',
                                // Last two digits of card expiration year
                                exp_year: '15',
                                // Standard verification code
                                cvc: '411',
                                // Full name as it appears on the card (for verification)
                                name: 'Cosmo Limesandal',
                                // Description can be up to 255 characters
                                description: 'Charge for cosmo@is411.byu.edu',
                            },
                            // The type of data we want the server to return
                            dataType: 'json',
                            // Callback function to invoke if the call works
                            success: function (data) { ... },
                            // Callback function to invoke if the call fails
                        error: function (data) { ... }
                        });
                    });
                </script>
                <div class="form-group">
                    <button style="float: right;" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

</%block>